@page "/game/{id}"

<PageTitle>Game Page</PageTitle>

<h1>Connect Four</h1>

<h3>How to Play:</h3>
<ol>
    <li>Player 1 will be <span style="color: red">red</span>, and Player 2 will be <span style="color: yellow;">yellow</span>.</li>
    <li>Players will alternate taking turns by putting their tokens on the board. Put your token in the board by clicking the column where you want to place it.</li>
    <li>The first player to connect four tokens in a row wins. The four in a row can be horizontal, vertical, or diagonal.</li>
</ol>


@code {
    [Parameter]
    public string? Id { get; set; }
}
