@page "/spectating"

@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<AuthorizeView>
    <Authorized>
        <h3>Choose which game you would like to spectate:</h3>
    </Authorized>
    <NotAuthorized>
        <a href="/Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("Matchmakinghub"))
            .WithAutomaticReconnect()
            .Build();



        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
